@mixin icon-button-styles($color, $bg-color) {
  background-color: $bg-color;
  border-color: $color;
  svg {
    fill: $color;
  }
}

@mixin button-state-styles($bg-color) {
  background: $bg-color;
  box-shadow: none;
}

.iconButton {
  align-items: center;
  background: none;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  margin: 4px;

  svg {
    min-width: 16px;
  }

  &:focus {
    box-shadow: inset 0 0 0.5px getColor('apex-blue');
    outline: 3px solid getColor('apex-blue');
  }
}
