
:root {
    --colorWhite: #ffffff;    
    --colorColorStrokeColor: #e7e7ec;    
    --colorColorTextColor: #77838f;    
    --colorButtonColor1: #090761;    
    --colorNeutralColorsColor600: #d4d2e3;    
    --colorNeutralColors800: #1e285f;    
    --colorGreyIcon: #949da6;    
    --colorOrange: #EB6B2A;    
}