.servicesSummary {
    padding: 120px 0;

    .description {
        max-width: 1076px;
        min-height: 158px;
        font: normal 500 24px/76px 'Nobile';
        text-align: center;
        text-transform: capitalize;
        color: #3f485e;
        margin: auto;
        margin-bottom: 120px;
    }
}

